body {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.container {
  display: flex;
  gap: 20px;
  margin-bottom: 20px;
}

.inputs {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(1, 100px);
  grid-template-rows: repeat(1, 100px);
  gap: 10px;
}

.grid-item {
  border: 1px solid #000;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  width: 100px;
}
